/* line 8, ../../../../.rvm/gems/ruby-1.9.3-p374@jkde/gems/eleven40-1.2/stylesheets/eleven40/reset/_utilities.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 14, ../../../../.rvm/gems/ruby-1.9.3-p374@jkde/gems/eleven40-1.2/stylesheets/eleven40/reset/_utilities.scss */
article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section,
video, object {
  display: block;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p374@jkde/gems/eleven40-1.2/stylesheets/eleven40/reset/_utilities.scss */
a img {
  border: 0;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p374@jkde/gems/eleven40-1.2/stylesheets/eleven40/reset/_utilities.scss */
figure {
  position: relative;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p374@jkde/gems/eleven40-1.2/stylesheets/eleven40/reset/_utilities.scss */
figure img {
  width: 100%;
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.3-p374@jkde/gems/eleven40-1.2/stylesheets/eleven40/reset/_utilities.scss */
img, object, embed {
  max-width: 100%;
}

/* line 4, ../sass/partials/_layout.sass */
.container {
  padding-left: 20px;
  padding-right: 20px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ddddcc), color-stop(100%, #ffffee));
  background: -webkit-linear-gradient(#ddddcc, #ffffee 10em);
  background: -moz-linear-gradient(#ddddcc, #ffffee 10em);
  background: -o-linear-gradient(#ddddcc, #ffffee 10em);
  background: -ms-linear-gradient(#ddddcc, #ffffee 10em);
  background: linear-gradient(#ddddcc, #ffffee 10em);
  padding-top: 2em;
  padding-bottom: 4em;
}

/* line 10, ../sass/partials/_layout.sass */
.header, .footer, .main {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 13, ../sass/partials/_layout.sass */
header {
  padding-left: 20px;
  padding-right: 20px;
  background: black;
}
/* line 16, ../sass/partials/_layout.sass */
header .headline {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
  background: transparent url(/images/chrome/head_green.jpg) top left no-repeat;
  height: 201px;
}
/* line 20, ../sass/partials/_layout.sass */
header .headline h1 {
  color: white;
}
/* line 24, ../sass/partials/_layout.sass */
header nav {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 26, ../sass/partials/_layout.sass */
header nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 30, ../sass/partials/_layout.sass */
header nav ol li {
  display: block;
  float: left;
}
/* line 34, ../sass/partials/_layout.sass */
header nav ol li a:link, header nav ol li a:visited {
  display: block;
  padding: 5px 20px 5px 0;
  color: white;
}

/* line 40, ../sass/partials/_layout.sass */
footer {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #000000));
  background: -webkit-linear-gradient(#222222, #000000);
  background: -moz-linear-gradient(#222222, #000000);
  background: -o-linear-gradient(#222222, #000000);
  background: -ms-linear-gradient(#222222, #000000);
  background: linear-gradient(#222222, #000000);
  padding-left: 20px;
  padding-right: 20px;
  background: black;
  color: white;
  padding-top: 2em;
  padding-bottom: 2em;
}
/* line 48, ../sass/partials/_layout.sass */
footer p {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 50, ../sass/partials/_layout.sass */
footer a:link, footer a:visited {
  color: #cccccc;
}

/* line 53, ../sass/partials/_layout.sass */
.sidebar {
  width: 30.6%;
  margin-right: 3.8%;
  float: left;
  margin-right: 0px;
}
/* line 56, ../sass/partials/_layout.sass */
.sidebar ol {
  list-style-type: none;
}
/* line 58, ../sass/partials/_layout.sass */
.sidebar .twitterbadge {
  margin-bottom: 1em;
}
/* line 60, ../sass/partials/_layout.sass */
.sidebar .google-ads {
  text-align: center;
  margin: 0 auto 1em auto;
  width: 180px;
}
/* line 65, ../sass/partials/_layout.sass */
.sidebar .lanyrd-target-splat {
  margin-bottom: 1em;
}

/* line 68, ../sass/partials/_layout.sass */
.content {
  width: 61.6%;
  margin-right: 3.8%;
  float: left;
}

/* line 80, ../sass/partials/_layout.sass */
.project {
  overflow: hidden;
  *zoom: 1;
}
/* line 83, ../sass/partials/_layout.sass */
.project img.project-image {
  border: 2px solid black;
  float: left;
  width: 200px;
  margin-right: 1em;
  margin-bottom: 1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* line 87, ../sass/partials/_layout.sass */
.speaking-engagements li {
  overflow: hidden;
  *zoom: 1;
}
/* line 89, ../sass/partials/_layout.sass */
.speaking-engagements li img {
  border: 2px solid black;
  float: left;
  width: 200px;
  margin-right: 1em;
  margin-bottom: 1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
