/* line 8, ../../../../.rvm/gems/ruby-1.9.3-p374@jkde/gems/eleven40-1.2/stylesheets/eleven40/reset/_utilities.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 14, ../../../../.rvm/gems/ruby-1.9.3-p374@jkde/gems/eleven40-1.2/stylesheets/eleven40/reset/_utilities.scss */
article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section,
video, object {
  display: block;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p374@jkde/gems/eleven40-1.2/stylesheets/eleven40/reset/_utilities.scss */
a img {
  border: 0;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p374@jkde/gems/eleven40-1.2/stylesheets/eleven40/reset/_utilities.scss */
figure {
  position: relative;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p374@jkde/gems/eleven40-1.2/stylesheets/eleven40/reset/_utilities.scss */
figure img {
  width: 100%;
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.3-p374@jkde/gems/eleven40-1.2/stylesheets/eleven40/reset/_utilities.scss */
img, object, embed {
  max-width: 100%;
}

/* line 4, ../sass/partials/_layout.sass */
.container {
  padding-left: 20px;
  padding-right: 20px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ddddcc), color-stop(100%, #ffffee));
  background: -webkit-linear-gradient(#ddddcc, #ffffee 10em);
  background: -moz-linear-gradient(#ddddcc, #ffffee 10em);
  background: -o-linear-gradient(#ddddcc, #ffffee 10em);
  background: -ms-linear-gradient(#ddddcc, #ffffee 10em);
  background: linear-gradient(#ddddcc, #ffffee 10em);
  padding-top: 2em;
  padding-bottom: 4em;
}

/* line 10, ../sass/partials/_layout.sass */
.header, .footer, .main {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 13, ../sass/partials/_layout.sass */
header {
  padding-left: 20px;
  padding-right: 20px;
  background: black;
}
/* line 16, ../sass/partials/_layout.sass */
header .headline {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
  background: transparent url(/images/chrome/head_green.jpg) top left no-repeat;
  height: 201px;
}
/* line 20, ../sass/partials/_layout.sass */
header .headline h1 {
  color: white;
}
/* line 24, ../sass/partials/_layout.sass */
header nav {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 26, ../sass/partials/_layout.sass */
header nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 30, ../sass/partials/_layout.sass */
header nav ol li {
  display: block;
  float: left;
}
/* line 34, ../sass/partials/_layout.sass */
header nav ol li a:link, header nav ol li a:visited {
  display: block;
  padding: 5px 20px 5px 0;
  color: white;
}

/* line 40, ../sass/partials/_layout.sass */
footer {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #000000));
  background: -webkit-linear-gradient(#222222, #000000);
  background: -moz-linear-gradient(#222222, #000000);
  background: -o-linear-gradient(#222222, #000000);
  background: -ms-linear-gradient(#222222, #000000);
  background: linear-gradient(#222222, #000000);
  padding-left: 20px;
  padding-right: 20px;
  background: black;
  color: white;
  padding-top: 2em;
  padding-bottom: 2em;
}
/* line 48, ../sass/partials/_layout.sass */
footer p {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 50, ../sass/partials/_layout.sass */
footer a:link, footer a:visited {
  color: #cccccc;
}

/* line 53, ../sass/partials/_layout.sass */
.sidebar {
  width: 30.8%;
  margin-right: 3.8%;
  float: left;
  margin-right: 0px;
}
/* line 56, ../sass/partials/_layout.sass */
.sidebar ol {
  list-style-type: none;
}
/* line 58, ../sass/partials/_layout.sass */
.sidebar .twitterbadge {
  margin-bottom: 1em;
}
/* line 60, ../sass/partials/_layout.sass */
.sidebar .google-ads {
  text-align: center;
  margin: 0 auto 1em auto;
  width: 180px;
}
/* line 65, ../sass/partials/_layout.sass */
.sidebar .lanyrd-target-splat {
  margin-bottom: 1em;
}

/* line 68, ../sass/partials/_layout.sass */
.content {
  width: 65.4%;
  margin-right: 3.8%;
  float: left;
}

/* line 80, ../sass/partials/_layout.sass */
.project {
  overflow: hidden;
  *zoom: 1;
}
/* line 83, ../sass/partials/_layout.sass */
.project img.project-image {
  border: 2px solid black;
  float: left;
  width: 200px;
  margin-right: 1em;
  margin-bottom: 1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* line 87, ../sass/partials/_layout.sass */
.speaking-engagements li {
  overflow: hidden;
  *zoom: 1;
}
/* line 89, ../sass/partials/_layout.sass */
.speaking-engagements li img {
  border: 2px solid black;
  float: left;
  width: 200px;
  margin-right: 1em;
  margin-bottom: 1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* line 7, ../sass/partials/_typography.sass */
body {
  font-family: "Hoefler Text", Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
  background-color: #ffffee;
}

/* line 12, ../sass/partials/_typography.sass */
a:link, a:visited {
  color: #008800;
  text-decoration: none;
}
/* line 15, ../sass/partials/_typography.sass */
a:hover {
  text-decoration: underline;
}

/* line 19, ../sass/partials/_typography.sass */
header nav {
  font-family: "ff-cocon-web-pro-1", "ff-cocon-web-pro-2", "Verdana", sans-serif;
  font-weight: light;
}
/* line 22, ../sass/partials/_typography.sass */
header h1 {
  font-family: "ff-cocon-web-pro-1", "ff-cocon-web-pro-2", "Verdana", sans-serif;
  height: 111px;
  line-height: 111px;
  margin: 100px 30px 0 30px;
  font-weight: black;
  font-size: 3em;
  text-shadow: black 0px 0px 5px;
}
/* line 30, ../sass/partials/_typography.sass */
header h1 a:link, header h1 a:visited {
  text-decoration: none;
  color: white;
}
/* line 33, ../sass/partials/_typography.sass */
header h1 span {
  font-size: 0.5em;
  font-weight: normal;
}

/* line 39, ../sass/partials/_typography.sass */
.posts-overview time {
  margin-bottom: 0.2em;
  margin-top: -1em;
  margin-left: 2em;
}

/* line 44, ../sass/partials/_typography.sass */
.posts-compact {
  font-family: "ff-cocon-web-pro-1", "ff-cocon-web-pro-2", "Verdana", sans-serif;
}

/* line 47, ../sass/partials/_typography.sass */
.more-link {
  display: block;
  text-align: right;
  margin-bottom: 2em;
  font-family: "ff-cocon-web-pro-1", "ff-cocon-web-pro-2", "Verdana", sans-serif;
}

/* line 53, ../sass/partials/_typography.sass */
h2, h3, h4, h5 {
  font-family: "ff-cocon-web-pro-1", "ff-cocon-web-pro-2", "Verdana", sans-serif;
  margin-bottom: 0.5em;
}
/* line 56, ../sass/partials/_typography.sass */
h2 span, h3 span, h4 span, h5 span {
  font-style: italic;
  font-weight: 100;
  font-size: 0.6em;
  display: block;
  height: 1.1em;
}
/* line 63, ../sass/partials/_typography.sass */
h2 a:link, h2 a:visited, h3 a:link, h3 a:visited, h4 a:link, h4 a:visited, h5 a:link, h5 a:visited {
  text-decoration: none;
  color: #444444;
}
/* line 66, ../sass/partials/_typography.sass */
h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
  text-decoration: underline;
}

/* line 69, ../sass/partials/_typography.sass */
time {
  font-family: "ff-cocon-web-pro-1", "ff-cocon-web-pro-2", "Verdana", sans-serif;
  font-weight: light;
  display: block;
  font-size: 0.8em;
  margin-top: -0.5em;
  margin-bottom: 1em;
}

/* line 77, ../sass/partials/_typography.sass */
blockquote {
  margin-left: 2em;
  font-style: italic;
}

/* line 81, ../sass/partials/_typography.sass */
.highlight {
  margin-bottom: 1em;
  padding: 1em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/* line 89, ../sass/partials/_typography.sass */
#disqus_thread h2 span, #disqus_thread h3 span, #disqus_thread h4 span, #disqus_thread h5 span {
  font-size: inherit;
  font-weight: inherit;
  display: inline;
  height: inherit;
  font-style: inherit;
}

/* line 96, ../sass/partials/_typography.sass */
ol, ul {
  margin-bottom: 1em;
}

/* line 99, ../sass/partials/_typography.sass */
.content, .sidebar {
  line-height: 1.3em;
  font-size: 1.2em;
}
/* line 102, ../sass/partials/_typography.sass */
.content p, .sidebar p {
  margin-bottom: 1em;
}

/* line 105, ../sass/partials/_typography.sass */
footer {
  font-family: "ff-cocon-web-pro-1", "ff-cocon-web-pro-2", "Verdana", sans-serif;
}

/* line 109, ../sass/partials/_typography.sass */
ul.posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 2, ../sass/partials/_book.scss */
.book-promo .book-cover {
  font-family: Georgia, "Times New Roman", serif;
  display: block;
  text-decoration: none;
  color: #ffe;
  width: 150px;
  height: 225px;
  border: 15px solid black;
  padding: 3px;
  background: #4975c8 url(http://thesinglepageapp.com/images/penguin-head.png) bottom right no-repeat;
  background-size: 75%;
  -moz-transition-property: all 0.2s ease;
  -webkit-transition-property: all 0.2s ease;
  -o-transition-property: all 0.2s ease;
  transition-property: all 0.2s ease;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  text-align: center;
  margin: 1em auto 1em auto;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px;
}
/* line 17, ../sass/partials/_book.scss */
.book-promo .book-cover h1 {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 0.75em;
  margin: 0 0 1em 0;
  color: #ffe;
}
/* line 22, ../sass/partials/_book.scss */
.book-promo .book-cover h1.intro {
  margin: 2em 0 0 0;
}
/* line 27, ../sass/partials/_book.scss */
.book-promo .book-cover p {
  font-family: Georgia, "Times New Roman", serif;
  margin-bottom: 0.2em;
  font-size: 0.5em;
}
/* line 34, ../sass/partials/_book.scss */
.book-promo .book-cover:hover {
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

/* line 1, ../sass/partials/_pygments.scss */
.highlight .hll {
  background-color: #ffffcc;
}

/* line 2, ../sass/partials/_pygments.scss */
.highlight {
  background: #f8f8f8;
}

/* line 3, ../sass/partials/_pygments.scss */
.highlight .c {
  color: #408080;
  font-style: italic;
}

/* Comment */
/* line 4, ../sass/partials/_pygments.scss */
.highlight .err {
  border: 1px solid #FF0000;
}

/* Error */
/* line 5, ../sass/partials/_pygments.scss */
.highlight .k {
  color: #008000;
  font-weight: bold;
}

/* Keyword */
/* line 6, ../sass/partials/_pygments.scss */
.highlight .o {
  color: #666666;
}

/* Operator */
/* line 7, ../sass/partials/_pygments.scss */
.highlight .cm {
  color: #408080;
  font-style: italic;
}

/* Comment.Multiline */
/* line 8, ../sass/partials/_pygments.scss */
.highlight .cp {
  color: #BC7A00;
}

/* Comment.Preproc */
/* line 9, ../sass/partials/_pygments.scss */
.highlight .c1 {
  color: #408080;
  font-style: italic;
}

/* Comment.Single */
/* line 10, ../sass/partials/_pygments.scss */
.highlight .cs {
  color: #408080;
  font-style: italic;
}

/* Comment.Special */
/* line 11, ../sass/partials/_pygments.scss */
.highlight .gd {
  color: #A00000;
}

/* Generic.Deleted */
/* line 12, ../sass/partials/_pygments.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 13, ../sass/partials/_pygments.scss */
.highlight .gr {
  color: #FF0000;
}

/* Generic.Error */
/* line 14, ../sass/partials/_pygments.scss */
.highlight .gh {
  color: #000080;
  font-weight: bold;
}

/* Generic.Heading */
/* line 15, ../sass/partials/_pygments.scss */
.highlight .gi {
  color: #00A000;
}

/* Generic.Inserted */
/* line 16, ../sass/partials/_pygments.scss */
.highlight .go {
  color: #808080;
}

/* Generic.Output */
/* line 17, ../sass/partials/_pygments.scss */
.highlight .gp {
  color: #000080;
  font-weight: bold;
}

/* Generic.Prompt */
/* line 18, ../sass/partials/_pygments.scss */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 19, ../sass/partials/_pygments.scss */
.highlight .gu {
  color: #800080;
  font-weight: bold;
}

/* Generic.Subheading */
/* line 20, ../sass/partials/_pygments.scss */
.highlight .gt {
  color: #0040D0;
}

/* Generic.Traceback */
/* line 21, ../sass/partials/_pygments.scss */
.highlight .kc {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Constant */
/* line 22, ../sass/partials/_pygments.scss */
.highlight .kd {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 23, ../sass/partials/_pygments.scss */
.highlight .kn {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 24, ../sass/partials/_pygments.scss */
.highlight .kp {
  color: #008000;
}

/* Keyword.Pseudo */
/* line 25, ../sass/partials/_pygments.scss */
.highlight .kr {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 26, ../sass/partials/_pygments.scss */
.highlight .kt {
  color: #B00040;
}

/* Keyword.Type */
/* line 27, ../sass/partials/_pygments.scss */
.highlight .m {
  color: #666666;
}

/* Literal.Number */
/* line 28, ../sass/partials/_pygments.scss */
.highlight .s {
  color: #BA2121;
}

/* Literal.String */
/* line 29, ../sass/partials/_pygments.scss */
.highlight .na {
  color: #7D9029;
}

/* Name.Attribute */
/* line 30, ../sass/partials/_pygments.scss */
.highlight .nb {
  color: #008000;
}

/* Name.Builtin */
/* line 31, ../sass/partials/_pygments.scss */
.highlight .nc {
  color: #0000FF;
  font-weight: bold;
}

/* Name.Class */
/* line 32, ../sass/partials/_pygments.scss */
.highlight .no {
  color: #880000;
}

/* Name.Constant */
/* line 33, ../sass/partials/_pygments.scss */
.highlight .nd {
  color: #AA22FF;
}

/* Name.Decorator */
/* line 34, ../sass/partials/_pygments.scss */
.highlight .ni {
  color: #999999;
  font-weight: bold;
}

/* Name.Entity */
/* line 35, ../sass/partials/_pygments.scss */
.highlight .ne {
  color: #D2413A;
  font-weight: bold;
}

/* Name.Exception */
/* line 36, ../sass/partials/_pygments.scss */
.highlight .nf {
  color: #0000FF;
}

/* Name.Function */
/* line 37, ../sass/partials/_pygments.scss */
.highlight .nl {
  color: #A0A000;
}

/* Name.Label */
/* line 38, ../sass/partials/_pygments.scss */
.highlight .nn {
  color: #0000FF;
  font-weight: bold;
}

/* Name.Namespace */
/* line 39, ../sass/partials/_pygments.scss */
.highlight .nt {
  color: #008000;
  font-weight: bold;
}

/* Name.Tag */
/* line 40, ../sass/partials/_pygments.scss */
.highlight .nv {
  color: #19177C;
}

/* Name.Variable */
/* line 41, ../sass/partials/_pygments.scss */
.highlight .ow {
  color: #AA22FF;
  font-weight: bold;
}

/* Operator.Word */
/* line 42, ../sass/partials/_pygments.scss */
.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 43, ../sass/partials/_pygments.scss */
.highlight .mf {
  color: #666666;
}

/* Literal.Number.Float */
/* line 44, ../sass/partials/_pygments.scss */
.highlight .mh {
  color: #666666;
}

/* Literal.Number.Hex */
/* line 45, ../sass/partials/_pygments.scss */
.highlight .mi {
  color: #666666;
}

/* Literal.Number.Integer */
/* line 46, ../sass/partials/_pygments.scss */
.highlight .mo {
  color: #666666;
}

/* Literal.Number.Oct */
/* line 47, ../sass/partials/_pygments.scss */
.highlight .sb {
  color: #BA2121;
}

/* Literal.String.Backtick */
/* line 48, ../sass/partials/_pygments.scss */
.highlight .sc {
  color: #BA2121;
}

/* Literal.String.Char */
/* line 49, ../sass/partials/_pygments.scss */
.highlight .sd {
  color: #BA2121;
  font-style: italic;
}

/* Literal.String.Doc */
/* line 50, ../sass/partials/_pygments.scss */
.highlight .s2 {
  color: #BA2121;
}

/* Literal.String.Double */
/* line 51, ../sass/partials/_pygments.scss */
.highlight .se {
  color: #BB6622;
  font-weight: bold;
}

/* Literal.String.Escape */
/* line 52, ../sass/partials/_pygments.scss */
.highlight .sh {
  color: #BA2121;
}

/* Literal.String.Heredoc */
/* line 53, ../sass/partials/_pygments.scss */
.highlight .si {
  color: #BB6688;
  font-weight: bold;
}

/* Literal.String.Interpol */
/* line 54, ../sass/partials/_pygments.scss */
.highlight .sx {
  color: #008000;
}

/* Literal.String.Other */
/* line 55, ../sass/partials/_pygments.scss */
.highlight .sr {
  color: #BB6688;
}

/* Literal.String.Regex */
/* line 56, ../sass/partials/_pygments.scss */
.highlight .s1 {
  color: #BA2121;
}

/* Literal.String.Single */
/* line 57, ../sass/partials/_pygments.scss */
.highlight .ss {
  color: #19177C;
}

/* Literal.String.Symbol */
/* line 58, ../sass/partials/_pygments.scss */
.highlight .bp {
  color: #008000;
}

/* Name.Builtin.Pseudo */
/* line 59, ../sass/partials/_pygments.scss */
.highlight .vc {
  color: #19177C;
}

/* Name.Variable.Class */
/* line 60, ../sass/partials/_pygments.scss */
.highlight .vg {
  color: #19177C;
}

/* Name.Variable.Global */
/* line 61, ../sass/partials/_pygments.scss */
.highlight .vi {
  color: #19177C;
}

/* Name.Variable.Instance */
/* line 62, ../sass/partials/_pygments.scss */
.highlight .il {
  color: #666666;
}

/* Literal.Number.Integer.Long */
