<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
      <link href="/css/ie.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->
  <link href="/css/smallscreen.css" media="only screen and (max-width: 1023px)" rel="stylesheet" type="text/css" />
  <link href="/css/mobile.css" media="handheld, only screen and (max-width: 767px)" rel="stylesheet" type="text/css" />

  <meta name = "viewport" content = "width=device-width, initial-scale=1">

  <link rel="openid2.provider" href="http://www.clavid.com/provider/openid" />
  <link rel="openid2.local_id" href="http://halfbyte.clavid.com" />
  <link rel="openid.server"    href="http://www.clavid.com/provider/openid" />
  <link rel="openid.delegate"  href="http://halfbyte.clavid.com" />
 
  <meta http-equiv="X-XRDS-Location" content="http://halfbyte.clavid.com" />

  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="https://secure.gravatar.com/avatar/b5b39c8f21b5bb1ab97852ed32c888ab?s=120&r=pg&d=https%3A%2F%2Fflattr.com%2F_img%2Faut11-user-placeholder-large.png" />

  <!-- last updated at {{ site.time }} -->
  <!-- last updated at {{ page.current }} -->

  <link href="{{page.feed_prefix}}/atom.xml" rel="alternate" title="ATOM Feed" type="application/atom+xml" />
  <link href="{{page.feed_prefix}}/rss.xml" rel="alternate" title="RSS Feed" type="application/rss+xml" />
  <title>{{page.title}} - jan.krutisch.de</title>

  <script type="text/javascript" src="//use.typekit.com/olr8jex.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript">
  /* <![CDATA[ */
  (function() {
      var s = document.createElement('script');
      var t = document.getElementsByTagName('script')[0];

      s.type = 'text/javascript';
      s.async = true;
      s.src = '//api.flattr.com/js/0.6/load.js?mode=auto&uid=halfbyte';

      t.parentNode.insertBefore(s, t);
   })();
  /* ]]> */
  </script>


</head>

<body>
<header>
  <div class="headline">
    <h1> <a href="/">Jan Krutisch</a> <span>...maker. breaker. crush groover. body mover.</span></h1>
  </div>
  <nav>
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/blog.html">Blog</a></li>
      <li><a href="/writings.html">Writing</a></li>
      <li><a href="/speaking.html">Speaking</a></li>
      <li><a href="/coding.html">Coding</a></li>
    </ol>
  </nav>
</header>

<div class="container">


  <div class="main">
    <section class="content">

      {{ content }}
    </section>



    <section class="sidebar">
      <h3>Contact me...</h3>
      <ol>
        <li><a href="mailto:jan+www@krutisch.de">...via Email</a></li>
        <li>
          <a href="skype:JanKrutisch?chat">...via Skype</a>
        </li>
        <li><a href="http://twitter.com/halfbyte">...on Twitter</a></li>
        <li>...or by Telephone: +49-175-2935345</li>
      </ol>

      <h3>Blog</h3>
      <ol>
        <li><a href="/blog.html">Latest blog articles</a> (<a href="/archive.html">all</a>)</li>
        <li><a href="/de">German articles</a> (<a href="/de/archive.html">all</a>)</li>
        <li><a href="/en">English articles</a> (<a href="/en/archive.html">all</a>)</li>
      </ol>

      <h3>Buy my book</h3>
      <div class="book-promo">
        <iframe width="160" height="400" src="https://leanpub.com/tspa_jumpstart/embed" frameborder="0" allowtransparency="true"></iframe>
      </div>


      <h3>Twitters</h3>
      <div class="twitterbadge">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/halfbyte" data-widget-id="419075753909555200">Tweets by @halfbyte</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      
      </div>
      <h3>Conferences</h3>
      <div class="lanyrd-target-splat"><a href="http://lanyrd.com/profile/halfbyte/" class="lanyrd-splat" rel="me">See my conferences on Lanyrd</a></div>
      <h3>Feeds</h3>
      <ol>
        <li><a href="{{page.feed_prefix}}/rss.xml">RSS 2.0</a></li>
        <li><a href="{{page.feed_prefix}}/atom.xml">ATOM</a></li>
      </ol>
      <h3>License</h3>
      <p>
        <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/de/"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/de/80x15.png" /></a><br />Every <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" rel="dc:type">Text</span> on this website is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/">Creative Commons-License</a>, if not stated differently.
      </p>


    </section>
  </div>


</div>
<footer>
  <p>&copy; Jan Krutisch</p>
  <p>powered by <a href="http://wiki.github.com/mojombo/jekyll/">jekyll</a></p>
  <p>layout based on <a href="http://cssgrid.net/">1140 css grid and compass</a></p>
  <p>
    <a href="/imprint.html">Imprint/ Impressum</a> |
    <a href="/de/datenschutz.html">Datenschutz</a>
  </p>
</footer>
<script type="text/javascript">
//<![CDATA[
(function() {
  var links = document.getElementsByTagName('a');
  var query = '?';
  for(var i = 0; i < links.length; i++) {
  if(links[i].href.indexOf('#disqus_thread') >= 0) {
    query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
  }
  }
  document.write('<script charset="utf-8" type="text/javascript" src="  //disqus.com/forums/janblog/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11165670-1");
pageTracker._trackPageview();
} catch(err) {}</script>


  <script src="https://d3brtmsfoeeao4.cloudfront.net/badges/person-v1.min.js"></script>
</body>
</html>
